<div ng-show="game_completed">
	<h1 style="text-transform: uppercase;">{{word}}</h1>
	<h3>Aantal pogingen: {{guess_count}}</h3>
	<p>Gefeliciteerd je hebt het woord <strong>{{word}}</strong> geraden</p>
	<p>Je kunt verder spelen nadat een ander speler jou een nieuw woord heeft gegeven</p>
</div>
<div ng-hide="game_completed">
	<div class="row">
		<div class="col-xs-12" ng-hide="ready_to_guess">
			<div class="alert alert-success">Speler is bezig met het verzinnen van een woord. Een ogenblik geduld a.u.b.</div>
		</div>
	</div>

	<div ng-show="ready_to_guess">
		<div class="row">
			<h3>Het woord</h3>
			<div  ng-repeat="character in game_characters" class="col-xs-1 character-block" >
				<span ng-hide="character.guessed">&nbsp;</span>
				<span ng-if="character.guessed">{{character.character}}</span>
			</div>
		</div>
		<div class="row">
			<h4>Kies een letter:</h4>
			<div characters-pad></div>
		</div>
	</div>
</div>

