<div ng-show="game_completed">
	<h1 style="text-transform: uppercase;">{{word}}</h1>
	<h3>Aantal pogingen: {{guess_count}}</h3>
	<p>Gefeliciteerd je hebt het woord <strong>{{word}}</strong> geraden</p>
	<p>Je kunt verder spelen nadat een ander speler jou een nieuw woord heeft gegeven</p>
</div>
<div ng-hide="game_completed">
	<div class="row">
		<div class="col-xs-12" ng-hide="ready_to_guess">
			<div class="alert alert-success">Speler is bezig met het verzinnen van een woord. Een ogenblik geduld a.u.b.</div>
		</div>
	</div>

	<div ng-show="ready_to_guess">
		<div class="row">
			<h3>Het woord</h3>
			<div  ng-repeat="character in game_characters" class="col-xs-1 character-block" >
				<span ng-hide="character.guessed">&nbsp;</span>
				<span ng-if="character.guessed">{{character.character}}</span>
			</div>
		</div>
		<div class="row">
			<h4>Kies een letter:</h4>
			<div characters-pad ctrl="playerCharactersPadCtrl"></div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="drawingModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Je hebt een verkeerde letter gekozen</h1>
      </div>
      <div class="modal-body">
      	<h3>De andere speler tekent nu voor jou een onderdeel van een galg poppetje</h3>
       <div drawing-canvas writable="false"></div>
      </div>
      <div class="modal-footer">
      		<button type="button" class="btn btn-primary"  data-dismiss="modal" ng-disabled="wait_for_drawing">Speel verder</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">De host van dit spel heeft de sessie verlaten!</h4>
      </div>
      <!-- <div class="modal-body"> -->
      	<!-- <h3>De andere speler tekent nu voor jou een onderdeel van een galg poppetje</h3> -->
       <!-- <div drawing-canvas writable="false"></div> -->
      <!-- </div> -->
      <!-- <div class="modal-footer"> -->
      		<!-- <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-disabled="wait_for_drawing">Speel verder</button> -->
      <!-- </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
