<style>
/*	.pad-character.ng-hide-add,
	.pad-character.ng-hide-remove {
		transition:1s linear all;
	}
	.pad-character.ng-hide-remove {
		 opacity: 1; 
	}
	.pad-character.ng-hide-remove.ng-hide-remove-active {
		opacity: 1; 
	}
	.pad-character.ng-hide-add {
		
	}
	.pad-character.ng-hide-add.ng-hide-add-active {
		opacity: 0;
		background: red;
	}*/
	button.corrected {	
		background: green !important;
	}

	button.incorrected {	
		background: red !important;
	}
</style>

<div class="col-xs-2" ng-repeat="character in character_buttons">
    <button class="btn btn-default btn-lg btn-block pad-character" ng-class="{'corrected': character.guessed, 'incorrected': (!character.guessed && character.selected) }" ng-disabled="(character.selected)" ng-click="guess(character)">{{character.character}}</button> 
</div>