<style>
	.pad-character.ng-hide-add,
	.pad-character.ng-hide-remove {
		transition:1s linear all;
	}
	.pad-character.ng-hide-remove {
		 opacity: 1; 
	}
	.pad-character.ng-hide-remove.ng-hide-remove-active {
		opacity: 1; 
	}
	.pad-character.ng-hide-add {
		
	}
	.pad-character.ng-hide-add.ng-hide-add-active {
		opacity: 0;
		background: #FFD700;
	}
</style>
<div class="col-md-2" ng-repeat="character in character_buttons" class="dn-fade-right" >
    <button class="btn btn-default btn-lg btn-block pad-character" ng-hide="character.is_selected" ng-click="guess(character)">{{character.character}}</button> 
</div>